<!-- .portfolio -->
            <div class="portfolio java-core" data-cat="java-core">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/p1-Mastermind/mastermind.gif" rel="portfolio" title="A simple Mastermind game in Java">
                        <img src="images/portfolio/mastermind.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a style="decoration:none" class="text-title" href="https://github.com/xbreizh/Mastermind" target="_blank">MasterMind</a>
                                <a class="text-title" href="https://github.com/xbreizh/Mastermind" target="_blank">
                                <span class="text-category">Java Core</span></a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->