<!-- .portfolio -->
            <div class="portfolio java-core struts hibernate javascript maven" data-cat="java-core struts hibernate javascript maven">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/p2-climbing/climb.gif" rel="portfolio" title="A web-application to find climbing spots. 
                    Uses Struts with jsp and connecting to a postgres type database with hibernate">

                        <img src="images/portfolio/climbing.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" href="https://github.com/xbreizh/climb" target="_blank" >Climb</a>
                                <a class="text-title" href="https://github.com/xbreizh/climb" target="_blank" >
                                <span class="text-category">MVC Struts</span></a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->