<!-- .portfolio -->
            <div class="portfolio java-core spring maven soap hibernate docker junit jenkins sonarqube" data-cat="java-core spring maven soap hibernate docker junit jenkins sonarqube">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/p3-library/library.gif" rel="portfolio" title="A library application allowing to register books, renting and alerting by email.
                    Uses Maven, SOAP web-services, Spring Mail, Spring MVC, Hibernate">
                        <img src="images/portfolio/library.jpg" alt="Library" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" href="https://github.com/xbreizh/biblio" target="_blank">Biblio</a>
                                <a class="text-title" href="https://github.com/xbreizh/biblio" target="_blank">
                                <span class="text-category">SOAP Web-Service</span></a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->