<!-- .portfolio -->
            <div class="portfolio java-core maven spring junit hibernate docker jenkins sonarqube" data-cat="java-core maven spring junit hibernate docker jenkins sonarqube">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/p4-myErp/myerp.gif" rel="portfolio" title="Continuous Integration added to an existing project">
                        <img src="images/portfolio/erp.jpg" alt="erp" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" href="https://github.com/xbreizh/myerp" target="_blank">MyERP</a>
                                <a class="text-title" href="https://github.com/xbreizh/myerp" target="_blank">
                                <span class="text-category">Continuous Integration</span></a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->