 <!-- .portfolio -->
            <div class="portfolio java-core gradle rest junit hibernate docker jenkins sonarqube javascript" data-cat="java-core gradle rest junit hibernate docker jenkins sonarqube javascript">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/p5-autodoc/autodoc.gif" title="A garage Web-Service in REST
                    allowing the owner to manage their stock and their daily tasks" rel="portfolio">
                        <img src="images/portfolio/motor.jpg" alt="motor" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" href="https://github.com/xbreizh/Autodoc" target="_blank">Autodoc</a>
                                <a class="text-title" href="https://github.com/xbreizh/Autodoc" target="_blank">
                                <span class="text-category">REST Web-Service</span></a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>  
            <!-- /.portfolio -->