<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Back-end Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Java Core</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Java Spring</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Thymeleaf</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Hibernate</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Maven</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Gradle</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Web-Services</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Struts</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Front-end Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Html / CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Javascript Vanilla</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="45%">
                <div class="skillbar-title"><span>React js</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">45%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Jekyll</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">CI - CD skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Git</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>

             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Junit - Mockito</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Docker</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Jenkins</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>SonarQube</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="55%">
                <div class="skillbar-title"><span>Bash</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">55%</div>
            </div> 
		</div>

         <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Database skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Oracle</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>PostgreSql</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
        </div>

         <div class="title_content" style="float: none;">
            <div class="text_content">Designs skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
        </div>
                
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
             <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>French</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
           
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Romanian</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Spanish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Trail Running</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Cycling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Photography</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Whittling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="cv_xlamourec.pdf" download>
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Technical Support Specialist <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> Smartfocus</h6>
                <p>UI Support / Training</p>
                <p>API Support: Assisting clients with company API usage (REST/ SOAP)</p>
                <p>Data Support: Database management / shell and SQL scripts</p>
            </li>
            <li>
                <h5>Technical Support Analyst <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Smartfocus</h6>
                <p>Technical assistance for a complex emailing platform</p>
                <p>Email campaign creation / Segment / Report / Html / CSS </p>
            </li>
            <li>
                <h5>Support Desk Agent <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
                <h6><span class="fa fa-briefcase"></span> Accenture</h6>
                <p>Technical assistance for company workers</p>
            </li>
            <li>
                <h5>Level 2 - Service Desk Agent<span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2012</span></h5>
                <h6><span class="fa fa-briefcase"></span> CPL company; Hewlett Packard Client</h6>
                <p>Resolving complex technical issues and handling escalations and complaints</p>
                <p>Mentored new staff / outage management</p>
                <p>Worked across various technologies: Windows Servers, Active Directory, SCCM, Citrix, VPN, Iphone and Blackberry, Lotus Notes</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Java developer - Bachelor level<span class="duration"><i class="fa fa-calendar color"></i> 2018 - 2020</span></h5>
                <h6><span class="fa fa-book"></span> Openclassrooms, Academy of Paris</h6>
                    </p>Software design and conception</p>
                    <p>Full project creation from Database to User interface</p>
                    <p>Test Driven Development oriented</p>
                    <p>Setup and use of CI-CD environments</p>
                    <p>Web Services creation ( SOAP/REST ) with documentation</p>
                    <p>Software presentation and demonstration</p>
            </li>
            <li>
                <h5>Master of Sport Sciences ( STAPS ) <span class="duration"><i class="fa fa-calendar color"></i> 2007</span></h5>
                <h6><span class="fa fa-book"></span> University of Corsica</h6>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>24 heures pour innover ( 24h to innovate ) <span class="duration"><i class="fa fa-calendar color"></i> 2007</span></h5>
                <h6><span class="fa fa-trophy"></span> University of Corsica</h6>
                <p>Project "Velio". Concept of electric bike with integrated GPS and powered by photovoltaic </p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  


</div>
<!-- End .resume -->