<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="java-core spring struts ci-cd">All</span></li>
            <li><span class="filter" data-filter="java-core">Java Core</span></li>
            <li><span class="filter" data-filter="spring">Spring</span></li>
            <li><span class="filter" data-filter="soap">SOAP</span></li>
            <li><span class="filter" data-filter="rest">REST</span></li>
            <li><span class="filter" data-filter="maven">Maven</span></li>
            <li><span class="filter" data-filter="gradle">Gradle</span></li>
            <li><span class="filter" data-filter="hibernate">Hibernate</span></li>
            <li><span class="filter" data-filter="docker">Docker</span></li>
            <li><span class="filter" data-filter="struts">Struts</span></li>
            <li><span class="filter" data-filter="jenkins">Jenkins</span></li>
            <li><span class="filter" data-filter="junit">Junit</span></li>
            <li><span class="filter" data-filter="sonarqube">Sonarqube</span></li>
            <li><span class="filter" data-filter="javascript">Javascript</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            {% include /portfolio/P1-Mastermind.html %}

            {% include /portfolio/P2-climb.html %}

            {% include /portfolio/P3-library.html %}

            {% include /portfolio/P4-myErp.html %}

            {% include /portfolio/P5-Autodoc.html %}     
           

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->